<div class='rehabilitation-container'>
  <h2 class='text-center'>運動方法</h2>
  <h3 class='text-center'>バックツイスト</h3>

  <div class='row justify-content-center align-items-center'>
    <div class='col-md-5 text-center'>
      <img src='<%= asset_path 'back_twist1.png' %>' alt='Rehabilitation image 1' class='img-fluid rehabilitation-img'>
      <img src='<%= asset_path 'back_twist2.png' %>' alt='Rehabilitation image 2' class='img-fluid rehabilitation-img-small mt-4'>
    </div>
    <div class='col-md-5 rehabilitation-instructions'>
      <p>身体を回す方の手を後頭部に当て脇を絞める</p>
      <p>反体側の手は回す側の太もも外に添える</p>
      <p>そのまま肘先を見ながら、背中を捻っていく</p>
      <ul>
      <li>※目線は肘先</li>
      <li>※腰を回そうとしない</li>
      <li>※背中を意識</li>
    </ul>
    </div>
  </div>
 
  <div class='d-grid gap-2 d-md-flex justify-content-md-end'>
  <%= link_to '運動方法', rehabilitation_top_path, class: 'btn btn-primary me-md-3' %>
  
</div>
</div>





