<div class="rehabilitation-container">
  <h2 class="text-center">運動方法</h2>
  <h3 class="text-center">キャット＆ドッグ</h3>

  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 text-center">
      <img src="<%= asset_path 'cat&dog1.png' %>" alt="Rehabilitation image 1" class="img-fluid rehabilitation-img">
      <img src="<%= asset_path 'cat&dog2.png' %>" alt="Rehabilitation image 2" class="img-fluid rehabilitation-img-small mt-4">
    </div>
    <div class="col-md-5 rehabilitation-instructions">
      <p>四つ這い位になり、手は肩幅より少し開く</p>
      <p>手で床を押すように、背中を丸くしていく</p>
      <p>肩甲骨を内側に寄せながら、背中を反らしていく</p>
      <ul>
      <li>※肘が曲がらないように注意</li>
      <li>※上を向かないように頑張る</li>
    </ul>
    </div>
  </div>
</div>



