<div class='rehabilitation-container'>
  <h2 class='text-center'>運動方法</h2>
  <h3 class='text-center'>ドローイン</h3>

  <div class='row justify-content-center align-items-center'>
    <div class='col-md-5 text-center'>
      <img src='<%= asset_path 'draw_in1.png' %>' alt='Rehabilitation image 1' class='img-fluid rehabilitation-img'>
      <img src='<%= asset_path 'draw_in2.png' %>' alt='Rehabilitation image 2' class='img-fluid rehabilitation-img-small mt-4'>
    </div>
    <div class='col-md-5 rehabilitation-instructions'>
      <p>鼻で息を吸い、一緒にお腹を膨らませる</p>
      <p>口で息を吐きながら、一緒にお腹をへこませる</p>
      <p>腰前の骨の内側を触りながら腹筋が動いているか確認</p>
    </div>
  </div>
 
  <div class='d-grid gap-2 d-md-flex justify-content-md-end'>

  <%= link_to '運動方法', rehabilitation_top_path, class: 'btn btn-primary me-md-3' %>
</div>
</div>



