<div class="rehabilitation-container">
  <h2 class="text-center">運動方法</h2>
  <h3 class="text-center">バックツイスト</h3>

  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 text-center">
      <img src="<%= asset_path 'hand_knee1.png' %>" alt="Rehabilitation image 1" class="img-fluid rehabilitation-img">
      <img src="<%= asset_path 'hand_knee2.png' %>" alt="Rehabilitation image 2" class="img-fluid rehabilitation-img">
      <img src="<%= asset_path 'hand_knee3.png' %>" alt="Rehabilitation image 3" class="img-fluid rehabilitation-img">
    </div>
    <div class="col-md-5 rehabilitation-instructions">
      <p>四つ這いになる</p>
      <p>遠くに置いている物に触るイメージで手を伸ばす</p>
      <ul>
      <li>※腰が反らないように注意</li>
      <li>※お腹に力を入れる</li>
      <li>※下を向いて行う</li>
    </ul>
    </div>
  </div>
</div>
