<div class="rehabilitation-container">
  <h2 class="text-center">運動方法</h2>
  <h3 class="text-center">SLR運動</h3>

  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 text-center">
      <img src="<%= asset_path 'SLR1.png' %>" alt="Rehabilitation image 1" class="img-fluid rehabilitation-img">
      <img src="<%= asset_path 'SLR2.png' %>" alt="Rehabilitation image 2" class="img-fluid rehabilitation-img-small mt-4">
    </div>
    <div class="col-md-5 rehabilitation-instructions">
      <p>上むきで寝て、鍛えたい方の足は伸ばし、反対側は股関節と膝を曲げる</p>
      <p>膝を伸ばした状態で足を持ち上げる</p>
      <ul>
      <li>※膝を伸ばす際、痛みが伴う場合は痛みが出ない範囲で行う</li>
      <li>※腰が反らないように注意</li>
      <li>※つま先を外に向けるとなおよし</li>
    </ul>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to '運動方法', rehabilitation_top_path, class: 'btn btn-primary me-md-2' %>
</div>
</div>
