<div class="rehabilitation-container">
  <h2 class="text-center">運動方法</h2>
  <h3 class="text-center">ヒップリフト</h3>

  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 text-center">
      <img src="<%= asset_path 'hiplift1.png' %>" alt="Rehabilitation image 1" class="img-fluid rehabilitation-img">
      <img src="<%= asset_path 'hiplift2.png' %>" alt="Rehabilitation image 2" class="img-fluid rehabilitation-img-small mt-4">
    </div>
    <div class="col-md-5 rehabilitation-instructions">
      <p>上むきで寝て、膝を90°近く屈曲させる</p>
      <p>お尻を持ち上げる</p>
    <ul>
      <li>※肩と膝が一直線になるようにお尻を持ち上げる</li>
      <li>※腰が反らないように注意</li>
    </ul>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to '運動方法', rehabilitation_top_path, class: 'btn btn-primary me-md-3' %>
</div>
</div>
