<h2>マイページ</h2>

<% if @bookmarks.any? %>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><%= link_to bookmark, bookmark, target: '_blank' %></li>
    <% end %>
  </ul>
<% else %>
  <p>まだブックマークはありません。</p>
<% end %>


