<div class="container text-center">
  <div class="logo-section mt-5">
    <!-- ロゴ画像を表示 -->
    <%= image_tag "スライド1.png", class: "logo-image", alt: "Logo" %>
  </div>

  <h1 class="mt-3">あなたの腰痛どこから</h1>
  <h2 class="text-muted">Where Does Back Pain Come</h2>

  <div class="buttons mt-4">
    <!-- ボタンのBootstrapクラスを適用 -->
    <a href="<%= terms_path %>" class="btn btn-primary btn-lg">さっそく始める！</a>
  
    <%= link_to 'マイページに行く', user_profile_page_path(current_user.id), class: 'btn btn-outline-primary' %>
  </div>
</div>