<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-sm text-center" style="width: 100%;" >
    <h2 class="mb-4">ログアウトが完了しました</h2>
    
    <div class="d-grid gap-4"> 
      <%= link_to "トップページに戻る", root_path, class: "btn btn-primary" %>
      <%= link_to "ログイン画面に戻る", new_user_session_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>




