<div class="logout-complete-container">
  <h2 class="logout-message">ログアウトしました</h2>
  
  <div class="logout-buttons">
    <%= link_to 'ログイン画面へ戻る', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'トップページへ戻る', root_path, class: 'btn btn-secondary' %>
  </div>
</div>
