<div class="unknown">
  <div class="unknown-text">
    <p>ここまで質問事項を進めていただき、誠にありがとうございます。</p>
    <p>
    このアプリは簡易的なセルフケアを目的としたものでございます.
    </p>
    <p>大変申し訳ございませんが、あなた様の症状につきましては整形外科にご相談くださいますよう、よろしくお願いいたします。</p>
  </div>

  <div class="button-group">
    <%= link_to 'フォーム欄まで戻る', pain_location_flexion_path, class: 'btn btn-primary custom-btn advice-primary-btn' %>
    <a href="javascript:window.history.go(-1);" class="btn btn-outline-primary custom-btn">前のページへ戻る</a>

  </div>

  <div class="button-group mt-4 d-flex flex-column align-items-center">
  <%= link_to '痛みの動作に戻る', diagnosis_achlorhydria_path, class: 'btn btn-secondary custom-btn' %>
</div>
</div>