<title>ハムストリング</title>
<h2>ストレッチ</h2>
<%= link_to 'ハムストリング（タオル使用）', strech_hamstrings_path, class:"btn btn-tertiary" %>
<%= link_to 'ハムストリング（タオル使用）', strech_hamstrings_towel_path, class:"btn btn-tertiary" %>
<br>
<h2>運動方法</h2>
<%= link_to 'ヒップリフト', rehabilitation_hiplift_path, class:"btn btn-tertiary" %>

