<title>内転筋</title>
<h2>ストレッチ</h2>
<<<<<<< HEAD
<%= link_to '内転筋', stretch_adductor_path, class:'btn btn-tertiary' %><br>
=======
<%= link_to '内転筋', stretch_adductor_path, class:"btn btn-tertiary" %><br>
>>>>>>> d83ee46f6a74ffc7cff9ee3271ce5b3b2faeafbd
<br>
<h2>運動方法</h2>