<title>大臀筋</title>
<h2>ストレッチ</h2>
 
<%= link_to '大臀筋', strech_gluteus_maximus_path, class:'btn btn-tertiary' %><br>
<br>
<h2>運動方法</h2>
<%= link_to 'ヒップリフト', rehabilitation_hiplift_path, class:'btn btn-tertiary' %>
