<title>腹直筋</title>
<h2>ストレッチ</h2>

<br>
<h2>運動方法</h2>
 
<%= link_to 'ゆりかご', rehabilitation_yurikago_path, class:'btn btn-tertiary1' %><br>

<br>

<div class='buttons'>
<%= link_to '前のページへ戻る', 'javascript:window.history.go(-1);', class: 'btn btn-outline-primary custom-btn2 back-button' %>
<%= link_to '痛みの動作に戻る', diagnosis_achlorhydria_path, class: 'btn btn-secondary custom-btn2' %>
<a href='<%= root_path %>' class='btn btn-tertiary1'>トップページに戻る</a>
</div>