<title>腹横筋</title>
<h2>ストレッチ</h2>
<br>
<h2>運動方法</h2>
<%= link_to 'ドローイン', rehabilitation_draw_in_path, class:'btn btn-tertiary' %><br>
<%= link_to 'ヒップリフト', rehabilitation_draw_in_path, class:'btn btn-tertiary' %><br>
<%= link_to 'ハンドニー', rehabilitation_hand_knee_path, class:'btn btn-tertiary' %><br>