<div class="orthopedics-container">
  <div class="orthopedics-text">
    <p>あなたの痛みはこのアプリでセルフケアをする前に整形外科・かかりつけ医に相談するべき症状です。</p>
    <p>
      整骨院・鍼灸院・整体院などではなく <span class="highlight">クリニック・病院（整形外科）</span>への早期受診をお勧めいたします。
    </p>
    <p>すでに相談されている方は「次へ進む」をタップしてください</p>
  </div>

  <div class="button-group">
    <a href="#" class="btn btn-primary">次へ進む</a>
    <a href="javascript:window.history.go(-1);" class="btn btn-outline-primary">前のページへ戻る</a>

  </div>
</div>

