<div class="result-container">
  <h2>あなたの腰痛は...</h2>
    <p class="diagnosis">椎間板性障害</p>
    <p class="possibility">の可能性があります</p>

<%= link_to '次へ進む', my_page_path, class: 'btn btn-primary' %>
<%= link_to '最初から始める', users_all_form_path, class: 'btn btn-outline-primary' %>

</div>