<div class="result-container">
  <h2>あなたの腰痛は...</h2>
    <p class="diagnosis">筋・筋膜性腰痛症</p>
    <p class="possibility">の可能性があります</p>

  <%= link_to '次へ進む', my_page_path, class: 'btn btn-next' %>
  <%= link_to '前のページへ戻る', 'javascript:window.history.go(-1);', class: 'btn btn-outline-primary6 custom-btn advice-outline-btn' %>
</div>
