<div class='stretch-container'>
  <h2 class='text-center'>ストレッチ</h2>
  <h3 class='text-center'>太もも裏</h3>
  
  <div class='row justify-content-center align-items-center'>
    <div class='col-md-5'>
      <img src='<%= asset_path 'hamstrings1.jpg' %>' alt='Stretch image 1' class='img-fluid stretch-img'>
      <img src='<%= asset_path 'hamstrings2.png' %>' alt='Stretch image 2' class='img-fluid stretch-img mt-4'>
    </div>
    <div class='col-md-5 stretch-instructions'>
      <p>少しだけ膝を曲げ、片方のふくらはぎを持ち、そのまま自分の身体に近付ける</p>
      <ul>
        <li>※痛みの出ない範囲で行う</li>
        <li>※もも裏以外の場所に痛みが出る際は中止する</li>
      </ul>
    </div>
  </div>
  <%= link_to 'ストレッチ', stretch_top_path, class: 'btn btn-tertiary' %><br>
  <%= link_to '筋肉', muscle_top_path, class: 'btn btn-tertiary' %><br>
</div>
