
<div class='stretch-container'>
  <h2 class='text-center'>ストレッチ</h2>
  <h3 class='text-center'>股関節前</h3>

  <div class='row justify-content-center align-items-center'>
    <div class='col-md-5 text-center'>
      <img src='<%= asset_path 'psoas1.png' %>' alt='Stretch image 1' class='img-fluid stretch-img'>
      <img src='<%= asset_path 'psoas2.png' %>' alt='Stretch image 2' class='img-fluid stretch-img-small mt-4'>
    </div>
    <div class='col-md-5 stretch-instructions'>

      <p>伸ばす側は膝をつき、反対側は一歩前に足を出す</p>
      <p>反対側に体重を乗せていくように前に体重をかけていく</p>
      <ul>
        <li>※痛みの出ない範囲で行う</li>
        <li>※腰が反らないように注意</li>
        <li>※股関節前以外の場所に痛みが出る際は中止する</li>
      </ul>
    </div>
  </div>
  <%= link_to 'ストレッチ', stretch_top_path, class: 'btn btn-primary' %>
  <%= link_to '筋肉', muscle_top_path, class: 'btn btn-primary' %><br>
</div>