.rehabilitation-container {
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto; /* 中央寄せ */
}

.rehabilitation-container h2, 
.rehabilitation-container h3 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.rehabilitation-container .rehabilitation-img {
  width: 100%; /* 画像全体の幅を親要素にフィット */
  height: auto;
  margin-bottom: 20px; /* 画像の下にマージンを追加してスペースを空ける */
}

.rehabilitation-container .rehabilitation-img-small {
  width: 100%; /* 2つの画像が同じサイズになるように調整 */
  height: auto; /* 高さを自動調整 */
  object-fit: cover; /* 画像を引き伸ばすのではなく、比率を保つ */
  margin-bottom: 20px; /* 画像の下にマージンを追加してスペースを空ける */
}

.rehabilitation-container img {
  display: block;
  margin: 0 0 20px 0; /* 画像の下に20pxの隙間を追加 */
}

.rehabilitation-instructions {
  font-size: 1.2rem;
  color: #333;
  font-family: 'Arial', sans-serif;
  line-height: 1.8;
  text-align: left;
}

.rehabilitation-instructions ul {
  list-style-type: none;
  padding: 0;
}

.rehabilitation-instructions ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #555;
  font-style: italic;
}

@media (max-width: 768px) {
  .rehabilitation-container .row {
    flex-direction: column;
  }

  .rehabilitation-container .rehabilitation-instructions {
    margin-top: 20px;
  }
}





  