.form-row {
  display: flex;
  justify-content: center; /* 中央寄せ */
  align-items: center; /* 縦方向に中央揃え */
  margin-bottom: 10px; /* 入力フィールドの下に余白 */
}

.form-row .col {
  flex: 1;
  max-width: 125px ; /* テキストボックスの幅を小さく */
  margin: 0 5px; /* テキストボックス間のスペースを狭く */
}

.gender-section {
  display: flex;
  justify-content: center; /* 中央寄せ */
  margin-bottom: 20px; /* 性別セクションの下に余白を追加 */
}

.gender-section .form-check {
  display: flex;
  align-items: center;
  margin: 0 15px; /* ラジオボタン間のスペースを狭く */
}

.form-check-input {
  margin-right: 5px; /* ラジオボタンとラベルの間隔を狭く */
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* ボタン群の上に余白を追加 */
}

.button-next, .button-back {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  background-color: #333399; /* 次へ進むと同じ色に設定 */
  border-color: #333399;
  color: white;
}

.button-next:hover, {
  background-color: #333399; /* ホバー時の色を変えない */
  border-color: #333399;
  color: white; /* テキスト色も変えない */
}


.button-back {
  background-color:  #007bff; /* 次へ進むボタンと同じ色 */
  color: white;
}

.button-back:hover {
  background-color:  #007bff; /* ホバー時の色を変えない */
  border-color:  #007bff;
  color: white; /* テキスト色も変えない */
}



