.form-row {
  display: flex;
  justify-content: center; /* 水平方向で中央揃え */
  align-items: center; /* 縦方向で中央揃え */
  margin-bottom: 30px; /* 入力フィールドの下に余白 */
  width: fit-content; /* 子要素に基づいて幅を自動調整 */
  margin-left: auto;
  margin-right: auto; /* 左右の中央揃えを明確に */
}

.form-row .col {
  flex: none; /* テキストボックスの幅を固定にする */
  width: 110px; /* テキストボックスの幅を広げる */
  margin: 0 5px; /* テキストボックス間のスペースを確保 */
  box-sizing: border-box; /* パディングや境界を含めて幅を計算 */
}

.form-row span {
  margin: 0 3px; /* スラッシュ（/）の間隔を確保 */
}

.gender-section {
  display: flex;
  justify-content: center; /* 中央寄せ */
  margin-bottom: 20px; /* 性別セクションの下に余白を追加 */
}

.gender-section .form-check {
  display: flex;
  align-items: center;
  margin: 0 15px; /* ラジオボタン間のスペースを狭く */
}

.form-check-input {
  margin-right: 5px; /* ラジオボタンとラベルの間隔を狭く */
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* ボタン群の上に余白を追加 */
}

.button-next, .button-back {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  background-color: #333399; /* 次へ進むと同じ色に設定 */
  border-color: #333399;
  color: white;
}

.button-next:hover {
  background-color: #333399; /* ホバー時の色を変えない */
  border-color: #333399;
  color: white; /* テキスト色も変えない */
}


.button-back {
  background-color:  #007bff; /* 次へ進むボタンと同じ色 */
  color: white;
}

.button-back:hover {
  background-color:  #007bff; /* ホバー時の色を変えない */
  border-color:  #007bff;
  color: white; /* テキスト色も変えない */
}



