@import "bootstrap/scss/bootstrap";
@import "home";
@import "all_form";
@import "orthopedics_advice1";
@import "orthopedics_advice2";
@import "orthopedics_advice3";
@import "orthopedics_advice5";
@import 'logout_complete';
@import 'gynecology_advice';
@import 'gynecology_question';
@import "red_flag";
@import "red_flag2";
@import "terms";
@import "pain_scale";
@import "achlorhydria";
@import "pain_location_flexion";
@import "pain_location_extention";
@import "pain_location_extention_flexion";
@import "flexion_behavior.scss";
@import "result";
@import 'diagnostic_result'; 
@import "_hamstrings_towel";
@import "_draw_in";

@import " login_notes";


body {
  background-color: #FDF5E6;
}


.container {
  width: 100%;
  max-width: none; 
  margin: 0 auto;
  background-color: #FDF5E6; /* コンテナの背景色も同じにする */
  border: none; /* 必要に応じて境界線も削除 */
  box-shadow: none; /* 影をなくす */
}


.text-center {
  text-align: center; /* テキストを中央揃え */
}

.custom-btn {
  width: 60%;
  max-width: 600px; /* 必要に応じて最大幅を設定 */
  min-width: 200px; /* 必要に応じて最小幅を設定 */
  margin: 0 auto; /* ボタンを中央に配置 */
  margin-bottom: 20px; /* ボタンの下に20pxの余白を追加 */
  padding: 10px 20px; /* ボタン内の余白 */
}

.navbar-custom .nav-link {
  background-color:  #FDF5E6; /* 背景色 */
  font-family: 'Arial', sans-serif;
  color: #333; /* リンクの文字色をトップページと同じに */
}

.navbar-custom .nav-link:hover {
  color: #000; /* ホバー時の色も変更 */
}

.navbar-logo {
  height: 40px; /* 画像の高さを調整 */
  width: auto;  /* アスペクト比を保持しながら幅を自動調整 */
}

.btn-primary {
  background-color: #333399;
  border-color: #333399;
  color: white;
}

.btn-primary:hover {
  background-color: #1a1a80;
  border-color: #1a1a80;
  color: white;
}


.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
  background-color: #fff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}


.btn.btn-danger {
  background-color: transparent !important;  // 背景をなしに設定
  color: black !important;                  // テキストの色を黒に設定
  border: none;                             // 枠線をなしに設定（必要に応じて）
}


// ホバー時のスタイル（必要に応じて）
.btn.btn-danger:hover {
  background-color: rgba(0, 0, 0, 0.1);     // ホバー時に薄い背景色を付ける（オプション）
  color: black !important;                  // ホバー時もテキストカラーを黒に維持
}

// スマホ版トグルボタン
@media (max-width: 768px) {
  .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

// ナビゲーションバーのテキストサイズ
.navbar-brand {
  font-size: 1.5rem; /* デフォルトの文字サイズ */
  
  /* スマホサイズ（768px以下の画面幅）で文字サイズを変更 */
  @media (max-width: 768px) {
    font-size: 1rem /* スマホ用の文字サイズを指定 */
  }
}

  