@import "bootstrap/scss/bootstrap";
@import "home";
@import "all_form";
@import "orthopedics_advice";
@import 'logout_complete';
@import 'gynecology_advice';
@import 'gynecology_question';
@import "red_flag";
@import "red_flag2";



body {
  background-color: #fff2e5; /* ページ全体の背景色 */
}

.container {
  background-color: #fff2e5; /* コンテナの背景色も同じにする */
  border: none; /* 必要に応じて境界線も削除 */
}


.navbar-custom .nav-link {
    background-color: #FDF5E6; /* 背景色 */
    font-family: 'Arial', sans-serif;
    color: #333; /* リンクの文字色をトップページと同じに */
  }
  
  .navbar-custom .nav-link:hover {
    color: #000; /* ホバー時の色も変更 */
  }