/* custom.css */
.navbar-custom {
    background-color: #f8f9fa; /* 任意の背景色 */
  }
  
  .navbar-custom .navbar-brand {
    color: #343a40; /* 任意のテキストカラー */
  }
  
  .navbar-custom .nav-link {
    color: #343a40;
  }
  