.gynecology-page {
  
  padding: 20px;

  .card {
    border: none;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
  }

  .card-body p {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.6;
  }

  .btn-primary {
    background-color: #333399;
    border-color: #333399;
    padding: 12px 20px;
    font-size: 18px; /* ボタンフォントサイズを他のページと一致 */
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .btn-outline-primary {
    background-color:  #007bff;
    color: white;
    border: 1px solid #007bff;
    padding: 12px 20px;
    font-size: 18px; /* ボタンフォントサイズを他のページと一致 */
    width: 100%;
    border-radius: 8px;
  }

  .btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
  }

  .d-flex {
    flex-direction: column;
  }

  .d-flex .btn {
    margin-bottom: 10px;
  }
}
