.image-container {
    position: relative;
    margin-bottom: 20px; // 上部の余白を追加
    text-align: center; // 画像を中央揃え
    width: 100%; /* 必要に応じて変更 */
}

    .human-body-image {
        max-width: 300px; /* 必要な最大幅に調整 */
        max-height: 400px; /* 必要な最大高さに調整 */
        width: auto; /* アスペクト比を保持 */
        height: auto; /* アスペクト比を保持 */
}
