.pain-location-flexion-container {
    padding: 20px;
    display: flex; // フレックスボックスを使用
    flex-direction: column; // 縦方向に配置
    align-items: center; // 中央揃え

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center; // タイトルを中央揃え
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center; // 説明を中央揃え
    }

    .radio {
        margin-bottom: 10px; /* 各ラジオボタンの下に余白を追加して縦幅を広げる */
    }
    
    .radio input[type="radio"] {
        transform: scale(1.5); /* ラジオボタン自体を大きくする */
        margin-right: 10px; /* ボタンとラベルの間に余白を追加 */
    }
    
    .radio label {
        font-size: 22px; /* ラベルのフォントサイズを大きくする */
        line-height: 1.5; /* 縦の間隔を調整 */
    }
    

    .radio #pain_external + label {
        color: red; /* 腰の筋肉を赤に */
    }
    
    .radio #pain_center + label {
        color: blue; /* 背骨付近を青に */
    }
    
    .radio #pain_below + label {
        color: darkgreen; /* 腰骨の下(お尻のライン)を深緑に */
    }
    

    .image-container {
        position: relative;
        margin-bottom: 20px; // 上部の余白を追加
        text-align: center; // 画像を中央揃え
        width: 100%; /* 必要に応じて変更 */
    
    
        .human-body-image {
            max-width: 300px; /* 必要な最大幅に調整 */
            max-height: 400px; /* 必要な最大高さに調整 */
            width: auto; /* アスペクト比を保持 */
            height: auto; /* アスペクト比を保持 */
    }

        .overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px; // 長方形の幅
            height: 150px; // 長方形の高さ
            transform: translate(-50%, -100%); // 中心に配置
            border-radius: 10px; // 角を丸くする
        }
    }

    .radio-container {
        width: 100%; // 幅を100%に設定
        text-align: left; // ラジオボタンを左寄せにする
        margin-top: 20px; // 上部の余白を追加

        .radio {
            margin-bottom: 15px;

            label {
                font-size: 20px; // ラジオボタンの文字の大きさを変更
            }
        }
    }

    .button-group {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn-primary {
            background-color: #333399;
            border-color: #333399;
            font-weight: bold;
            padding: 10px 30px; // ボタンのパディングを追加
            font-size: 16px; // ボタンのフォントサイズを調整
            text-align: center; /* テキストを中央に */
        }

        .btn-outline-primary {
            color: #007bff;
            border-color: #007bff;
            background-color: #007bff;
            color: white;
            font-weight: bold;
            padding: 10px 30px; // ボタンのパディングを追加
            font-size: 16px; // ボタンのフォントサイズを調整
            text-align: center; /* テキストを中央に */
        }

        .btn-outline-primary:hover {
            background-color: #007bff;
            color: white;
        }

        .btn-lg {
            padding: 10px 30px;
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
}

