body {
    background-color: #FDF5E6; /* 背景色を統一 */
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #FDF5E6;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

.slider-container {
    margin-bottom: 30px;
}

#painRange {
    width: 100%;
    background-color: black; /* スライダーのバーを黒に */
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を追加 */
}

#painRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: black; /* つまみ部分を黒に */
    border-radius: 50%;
    cursor: pointer;
}

#painRange::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: black; /* つまみ部分を黒に */
    border-radius: 50%;
    cursor: pointer;
}

.square-btn {
    width: 40px;
    height: 40px;
    background-color: white;
    color: black !important; /* 強制的に文字色を黒に設定 */
    border: 2px solid white; /* 枠線を白色に設定 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px; /* ボタンとスライダーの間に余白を追加 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

.square-btn:hover {
    background-color: #f8f8f8;
    color: black;
}

.mt-5 {
    margin-top: 40px !important;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* ボタン間の余白 */
}

button.btn-primary,
a.btn-primary4 {
    background-color: #333399; /* 青色 */
    border-color: #333399;
    font-size: 18px;
    font-weight: bold; /* 文字を太く */
    color: white;
    width: 60%;
    text-align: center; /* テキストを中央に */
}

a.btn-primary4:hover,
button.btn-primary:hover {
    background-color: #333399; /* ホバー時も色を変更しない */
    border-color: #333399;
    color: white;
}

a.btn-outline-primary4 {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 18px;
    font-weight: bold; /* 文字を太く */
    color: white;
    width: 60%;
    text-align: center;
}

a.btn-outline-primary4:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    margin-bottom: 20px;
  }
