.container {
  padding: 20px;
  border-radius: 5px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#year, #month, #day {
  text-align: center;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  gap: 10px; /* 年月日の間隔を狭くする */
}

.col {
  flex: 0 0 auto;
 /* 各テキストボックスの右側の余白をなくす */
}

.col input {
  width: 100%; /* 各テキストボックスを親要素にフィットさせる */
}

label {
  font-weight: bold;
}

.form-check-label {
  margin-left: 5px;
}

.form-check-inline {
  margin-right: 20px;
}

.btn-primary {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.btn-primary:hover {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}


.label-small-gray {
  color: gray;
  font-size: 12px;
}

.is-invalid {
  background-color: #f8d7da; /* 背景色を赤く（エラー用） */
  border-color: #dc3545;     /* 枠線の色も赤く */
}



