.custom-btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
  }
  
  .signup-btn {
    background-color: #FFFFFF;  /* ボタンの背景色 */
    color: #2E2A71;  /* テキストの色 */
    border: 2px solid #2E2A71;  /* ボーダーをなしに */
  }
  
  .signup-btn:hover {
    background-color: #3b2b82 !important; /* ホバー時の色 */
    color: #FFFFFF
  }
  
  