<p><%= @resource.email %>様</p>

<p>パスワードの再設定の受付をいたしました。</p>
<p>ハスワードを再設定するから設定をお願いいたします。<p>
<br>

    <p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p>このメールに心当たりがなければ無視してください</p>
<br>
<p>このメールは送信専用です。お問い合わせにはお答えかねます。</p>
