<div class='container mt-5 gynecology-page'>
  <div class='card text-center'>
    <div class='card-body'>
      <p>
        婦人科疾患や妊娠の可能性がある場合、一度かかりつけ医に腰痛のセルフケアを行なっても良いかどうかの確認をお願いします。
      </p>
      <p>
        婦人科関係の臓器は自覚症状が少なく、病気の発見が遅くなってしまう傾向です。早期発見・早期治療が今後の皆様の健康状態に影響されます。
      </p>
      <p>
        前ページに当てはまる症状があり一度も婦人科系の検診を受けたことのない方は、恥ずかしさなど羞恥心が勝ってしまうかと思われますが、受診の検討もお願いします。
      </p>
      <p>
        すでに相談されている方は「次へ進む」をタップしてください。
      </p>
    </div>
  </div>

  <div class='mt-4 d-flex justify-content-between'>
    <%= link_to '次へ進む', red_flag_path, class: 'btn btn-primary custom-btn' %>
    <a href='javascript:window.history.go(-1);' class='btn btn-outline-primary custom-btn'>前のページへ戻る</a>
  </div>
</div>



