<div class='orthopedics-container2'>
  <div class='orthopedics-text'>
  <p>あなたの痛みはこのアプリでセルフケアをする前に整形外科・かかりつけ医に相談するべき症状です。</p>
  <p>
    整骨院・鍼灸院・整体院などではなく <span class='highlight'>クリニック・病院（整形外科）</span>への早期受診をお勧めいたします。
  </p>
  <p>すでに相談されている方は「次へ進む」をタップしてください</p>
  </div>

  <div class='button-group'>
    <%= link_to '次へ進む', red_flag2_path, class: 'btn btn-primary2 custom-btn advice-primary-btn' %>
    <%= link_to '前のページへ戻る', 'javascript:window.history.go(-1);', class: 'btn btn-outline-primary2 custom-btn advice-outline-btn' %>
  </div>
</div>

